<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/geolib@3.3.4/lib/index.min.js"></script>
   
</head>

<body>
   {{>customerNavbar}}
    <div class="container w-100 text-end">
        <a href="/Cateringdetails" target="_self">Service Details</a>
    </div>
    {{#if booked}}
    <div class="container alert alert-success d-none text-center" role="alert">
  Your service is successfully booked 
</div>
{{/if}}
    <div class="container">
        <div class="row">
            <div class="col-2 me-2 ">
               <h2>Filters</h2> 
            </div>
            <div class="col-9">
                <h2 class="text-center  mb-3">Catering Services</h2>
            </div>
            <div class="col-2 sidebar me-2" >
                <div class="locationSidebar">
                    <label class=" me-3 d-flex flex-column fw-bold">Service Provider Location</label>
                 <select name="Location" class="serviceProviderlocation" style="width:150px; height: 30px;" onchange="getFilter()">
                <option value="">Select  Location</option>
                 {{#each states}}
                 <option value="{{this.name}}" >{{this.name}}</option>
                 {{/each}}
               </select>
                </div>
                <div class="optionSidebar"></div>
                </div>    
            
            <div class="col-9 data">
                <div class="alert alert-danger d-none error" role="alert">End Date cannot be less than start date</div>
                <form action="/bookService" method="post" class="border mb-3 p-3" >
                <div class="mx-5 px-5 d-flex form flex-wrap">
               <div class="m-3">
               <label class=" me-3 d-flex flex-column">Select Your Location</label>
               {{!-- <input type="text" class="location"  placeholder="Enter Location" style="width:300px;"> --}}
               <select name="Location" class="location" style="width:300px; height: 30px;">
                <option value="">Select Location</option>
                 {{#each states}}
                 <option value='{"Location":"{{this.name}}", "Latitude":"{{this.latitude}}", "Longitude":"{{this.longitude}}"}' >{{this.name}}</option>
                 {{/each}}
               </select></div>
               <div class="m-3 d-flex flex-column">
                <label class=" me-3 d-flex flex-column">Number of packet per day</label>
               <input type="text" class="noOfPlates" id="SpreadBifurcation" name="NumberOfPackets" style="width:300px;"></div>
               <div class="m-3">
                <label class=" me-3 d-flex flex-column">Enter Start Date</label>
               <input type="date"  class="start" onchange="checkDate()" name="StartDate" style="width:300px; "></div>
                 <div class="m-3 ">
                <label class=" me-3 d-flex flex-column">Enter End Date</label>
               <input type="date" class="end" onchange="checkDate()" name="EndDate" style="width:300px;"></div> 
               </div>
               <div class="btn search btn-primary btn-lg m-3 mt-5" onclick="searchRecord()">Search</div>
                {{!-- <button type="submit" class="btn btn-primary btn-lg m-3 mt-5">Submit</button> --}}
               </form>
               <span class="msg"></span>
               <div class="overflow-x-auto">
                <table class="table table-bordered ">
                    <thead>
                    </thead>
                    <tbody class="tbody">
                      
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{{msg}}
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

<script src="../static/js/cateringShow.js"></script>

</html>